html {
	height: 100%;
}

body {
	background: linear-gradient(135deg, #2e0eff, #05d1ff);
}

.hands {
	background-color: #000;
	position: relative;
	border-radius: 20px;
	transform-origin: center right;
	transform: rotate(90deg);
	transition: all 0.01s;
}

#clock {
	border: 8px #FFF solid;
	border-radius: 50%;
	height: 24em;
	width: 24em;
	margin: 10em auto;
	background-image: url(clockFace.jpg);
	background-size: 34em;
	background-position: center;
}

#secondHand {
	background-color: #05d1ff;
	height: 1%;
	width: 11em;
	top: 12em;
	left: 3em;
	transform-origin: 81.818181%;
	//transition-timing-function: linear;
}

#minuteHand {
	width: 10em;
	height: 1.2%;
	top: 11.7em;
	left: 2em;
	//animation: rotate 3600s infinite steps(59);
}

#hourHand {
	height: 1.8%;
	width: 7em;
	left: 5em;
	top: 11.35em;
	//animation: rotate 43200s infinite linear;	
}

/* @keyframes rotate {
	100% {
		transform: rotateZ(360deg);
	}
} */